<div id="font-picker">
    <div id="font-picker-header">
        <button class="add-style"></button>
        <div class="font-picker-heading">Web Font Picker</div>
    </div>
    <div id="font-picker-list">
        <div class="overlay"></div>
    </div>
</div>