<div class="style<% if (obj.selected) { %> selected<% } %>">

    <!-- Selector -->
    <div class="selector-wrapper child always-visible">
        <label class="toggle-wrapper">
            <input type="checkbox" class="toggle-active" <% if (obj.active) { %> checked <% } %>>
            <span class="toggle"></span>
        </label>
        <button class="destroy">Delete</button>
        <input type="text" class="selector" placeholder="CSS selector (e.g. body, h1, p)" value="<%= obj.selector %>">
    </div>

    <!-- Font Menu -->
    <div class="font-menu child">
        <div class="search-wrapper">
            <input type="search" class="search" placeholder="Search for a family">
        </div>
        <div class="current-wrapper">
            <div class="font none" data-font-family="">
                <div class="arrow"></div>
                <span>Select a font</span>
            </div>
        </div>
        <div class="font-list-wrapper">
            <div class="font-list"></div>
            <button class="load-more">Load more</button>
        </div>
        <div class="nothing">
            <p>No fonts found.</p>
        </div>
    </div>

    <!-- Weight -->
    <div class="weight child">
        <label>
            <input type="checkbox" class="toggle-weight"<% if (obj.weightEnabled) { %> checked <% } %>>
            <span class="section-label">Weight</span>
        </label>
        <span class="select-weight"></span>
    </div>

    <!-- Combo -->
    <div class="combo child clearfix">
        <div class="font-size">
            <label>
                <input type="checkbox" class="toggle-font-size"<% if (obj.fontSizeEnabled) { %> checked <% } %>>
                <span>Font size</span>
            </label>
            <div>
                <span class="adjustable change-font-size">16px</span>
            </div>
        </div>
        <div class="line-height">
            <label>
                <input type="checkbox" id="line-height" class="toggle-line-height"<% if (obj.lineHeightEnabled) { %> checked <% } %>>
                <span>Line height</span>
            </label>
            <div>
                <span class="adjustable change-line-height">1.5</span>
            </div>
        </div>
        <div class="color">
            <label>
                <input type="checkbox" class="toggle-color"<% if (obj.colorEnabled) { %> checked <% } %>>
                <span>Color</span>
            </label>
            <input type="color" class="change-color" spellcheck="false" value="#5bbf45">
        </div>
    </div>
    
</div>